<mat-card>
  <mat-card-content>
    <mat-toolbar color="accent">Expenses of March</mat-toolbar>
      <table mat-table [dataSource]="items" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let element"> {{ element["position"] }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let element"> {{ element["description"] }}</td>
        </ng-container>

        <ng-container matColumnDef="valueSpent">
          <th mat-header-cell *matHeaderCellDef> Value Spent R$</th>
          <td mat-cell *matCellDef="let element"> {{ element["valueSpent"] }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category</th>
          <td mat-cell *matCellDef="let element"> {{ element["category"] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </mat-card-content>
</mat-card>
